<%= form_for words_path, method: :get do |f| %>
  <div class="row">
    <p><%= t :categories %></p>

    <div id="search-field">
      <div class="col-md-5">
        <%= collection_select("", :category_id, @categories, :id,
                              :name, {prompt: false},
                              {class: "form-control"}) %>
        <table class="table table-bordered">
          <% {learned: "Learned", not_learned: "Not learned", all_word: "All"}.each do |key, value| %>
            <tr>
              <td><%= value %></td>
              <td><input type="radio" value="<%= key %>" name="filter"></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success">
        <span class="glyphicon glyphicon-search">  Search</span>
      </button>
      <% if current_user.is_admin? %>
        <%= link_to t(:add_new_word), new_admin_word_path, class: "btn btn-success", data: {no_turbolink: true} %>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
