<h1>Lesson</h1>
<h2 class="progress-result">
  Progress:
  <span class="check_num">0</span>/
  <span class="word_num"></span>
</h2>
<%= form_for [@category, @lesson] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <ul class="bxslider">
    <%= f.fields_for :lessons_words do |builder| %>
      <%= render "lessons_words_form", f: builder %>
    <% end %>  
  </ul>   
<hr>
<div class="row">
  <%= f.submit t(:submit), class: "btn btn-primary", data: {confirm: t(:finish_lesson)} %>
</div>
<% end %>
