<div class="row">
  <h1><%= @category.name %></h1>
  <h2>Result: <%= @lesson.mark %>/20</h2>
  <p>
    <%= link_to t(:export_csv), category_lesson_path(format: :csv), class: "btn btn-primary" %>
    <%= link_to "export to Excel", category_lesson_path(format: :xls), class: "btn btn-primary" %>
  </p>
  <table class="table table-bordered">
    <tr>
      <th><%= t :correct %></th>
      <th><%= t :word %></th>
    </tr>
    <% @lessons_words.each do |lesson_word| %>
      <tr>
        <td>
          <% if lesson_word.word_correct %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <%= lesson_word.word.content %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
