<hr>
<% target = activity.target %>
<p>
<h4>
  <b><%= activity.user.name %></b>
  <%= activity.status %>
  <% if activity.status=='learned' %>
    <%= pluralize target.learned_words_count, t(:word) %> in
    <b><%= target.category.name %></b>
  <% else %>
    <b><%= target.name %></b>
  <% end %>
</h4>
<h4>
  <small>
    <%= activity.created_at %>
  </small>
</h4>
</p>

