<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Framgia E-Learning System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Word List", words_path %>
        </li>
        <li>
          <%= link_to "Categories", categories_path %>
        </li>
         <li>
          <%= link_to "Lesson", lessons_path %>
        </li>
        <li>
          <%= link_to "Result", root_path %>
        </li>
        <li>
          <%= link_to "User Show", root_path %>
        </li>        
      </ul>
    </nav>
  </div>
</header>
